In [1]:
site_name = 'Power Learn Project'
print(site_name)


# Note: Python is a type-inferred language, so you don't have to explicitly define the variable type. It automatically knows that Power Learn Projects is a string and declares the site_name variable as a string.

site_name = 'apple.com'
print(site_name)

# assigning multiple values to multiple name (variables)
a, b, c  = 5, 3.2, 'Hello'

print(a)
print(b)
print(c)

# assigning single value to multiple variables
site_1 = site_2 = 'Power Learn Project'

print(site_1)
print(site_2)

var_rule = """
snake_case
MACRO_CASE
camelCase
CapWords
"""
print(var_rule)

# python is case sensitive
num = 23
Num = 55

print(num)
print(Num)

Power Learn Project
apple.com
5
3.2
Hello
Power Learn Project
Power Learn Project

nake_case
MACRO_CASE
camelCase
CapWords

23
55

In [4]:
# data types in python: 
"""
numeric: int, float, complex
string: str => string sequence
boolean: bool => True or False
sequence: list, tuple, range => holds collection of items
mapping: dict => hold data in key value pair form
set: set, frozenset => hold collection of unique items

in python data types are classes while variables are instances of these classes
"""


num1 = 5
num2 = 3.5
num3 = 1 + 2j

# checking type of the corresponding data types
print(num1, "is of type",type(num1))
print(num2, "is of type",type(num2))
print(num3, "is of type",type(num3))

5 is of type <class 'int'>
3.5 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [9]:
#  list [] and tuple () behaves the same however, tuples are immutable

pdct = ("MicroSoft","xbox", 89.99)
print(pdct[0])
print(pdct[1])
print(pdct[2])

MicroSoft
xbox
89.99

In [12]:
# working with string
name = "python"
msg = "python for beginners"

print(name)
print(msg)

python
python for beginners

In [13]:
# set {,}

std_id = {112, 116, 115, 118, 114}
print(std_id, type(std_id))

{112, 114, 115, 116, 118} <class 'set'>

In [17]:
# dictionary
capital_city = {"Nepal": "Kathmandu", "Italy":"Rome", "England":"London"}
print(capital_city)
print(capital_city["Nepal"])
print(capital_city)
print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
Kathmandu
{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [18]:
# the two type of type conversion in python
type_conv = """There are two types of type conversion in Python.
Implicit Conversion - automatic type conversion
Explicit Conversion - manual type conversion"""

int_num = 33  # integer num
flt_num = 22.0 # float num

new_num = int_num + flt_num
print(new_num, type(new_num)) # this automatically(implicit) convert int to float as a result of + operator

55.0 <class 'float'>

In [25]:
# explicit conversion
name = "Eric Cartman"

num_str = "25"
num_int = 25
nums = num_int + int(num_str) #type conversion from int to
print(nums)

50

In [27]:
Key_Points_to_Remember ="""Type Conversion is the conversion of an object from one data type to another data type.

Implicit Type Conversion is automatically performed by the Python interpreter.

Python avoids the loss of data in Implicit Type Conversion.

Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.

In Type Casting, loss of data may occur as we enforce the object to a specific data type."""

In [29]:

Types_of_Python_Operators="""Here's a list of different types of Python operators that we will learn in this tutorial.
Arithmetic operators => addition, subtraction, multiplication etc
Assignment Operators => a= 7, a += 2 or a = a + 2, b -= 4 or b = b - 4, c *= 6 or c = c * 8, d /= 8, e //= 1, f **= 3, a %=5 or a = a % 5
Comparison Operators => a == z, a != z, a > b, c < d, e >= f, g <= h 
Logical Operators => logical and, logical or, logical not
Bitwise Operators => Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.
Special Operators => identity: is, is not, membership"""

# In Python, is and is not are used to check if two values are located on the same part of the memory. Two variables that are equal does not imply that they are identical.
# Note: Comparison operators are used in decision-making and loops while logical operators are used to check whether an expression is true or False also in decesion making.
a = 4
b = 2
print(a > b)

True

In [31]:
print(True and True) #True
print(True and False) # False
print(False and False)  # False
print(True or False) # True
print(True or True) # True
print(False or False) # False
print(not True) #False
print(not False) #Ture

True
False
False
True
True
False
False
True

In [36]:
# is: identical refer to the same object, 
# is not: not identical refer to different object.
x1 = 5
y1 = 5

x2 = "Hello"
y2 = "Hello"

x3 = [1, 2, 3, 4]
y3 = [1, 2, 3, 4]

print(x1 is not y1) #  False
print(x1 is y1) # True
print(x2 is not y2) # False
print(x2 is y2) # True
print(x3 is not y3) # True
print(x3 is y3) # False

# But x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory although they are equal.

False
True
False
True
True
False

In [ ]:
# Membership operators
"""In Python, in and not in are the membership operators. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).
In a dictionary we can only test for presence of key, not the value."""

# eg: in => True if membership is found is sequence (list, tuple, set, string, dictionary)
# eg: not in => True if membership is not found in the sequence.

In [7]:
x = "Hello World"
y = {1:"a", 2:"b"}

print("Hello" in x)  #True cos Hello existed
print("Hello" not in x)  #False cos Hello does existed

print(1 in y) # true it existed
print(2 in y) # True

True
False
True
True

In [ ]:
print(object= separator= end= file= flush=)

In [22]:
"""object - value(s) to be printed

sep (optional) - allows us to separate multiple objects inside print().

end (optional) - allows us to add add specific values like new line "\n", tab "\t"

file (optional) - where the values are printed. It's default value is sys.stdout (screen)

flush (optional) - boolean specifying if the output is flushed or buffered. Default: False"""



print("good morning")
print("it's raining today")

print()
print("# end makes it appear in a single line intead of new line as a result of two seperate print statement")
print("good morning", end= " ")
print("it's raining today")

print()
print("# end= "" used to distribute . into multiple items")
print("New Year", 2024, "See you soon!", sep= ". ")

print("\nPowerLP is" + " awesome")

good morning
it's raining today

# end makes it appear in a single line intead of new line as a result of two seperate print statement
good morning it's raining today

# end=  used to distribute . into multiple items
New Year. 2024. See you soon!

PowerLP is awesome

In [26]:
# output formatting

x = 5
y = 8

print("the curly braces {} are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).")
print("the value of x is {} and y is {}".format(x,y))

the curly braces {} are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).
the value of x is 5 and y is 8

In [30]:
num = input("enter a num")
print("you Entered: ", num)

you Entered:  90

In [1]:
name = input("What is your name? ")
age = input("what is your age? ")
location = input("what is your location")

print(f"Hello {name}, you are {age} years old and live in {location}.")

Hello Adamu Labaran, you are 27 years old and live in Nigeria.